<%-include('./includes/header.ejs')%>

<link rel="stylesheet" href="/css/404.css">
<%-include('./includes/navbar.ejs')%>

<h1>Some error occure! </h1>
<p>We're working on fixing this, sorry for inconvenience!</p>

<%-include('./includes/footer.ejs')%>